<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedEmployee.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeleteClick()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid >
  
  <ion-row>
    <ion-col>
      <h1>{{loadedEmployee.name}}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h1>{{loadedEmployee.adress}}</h1>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/employee"></ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedEmployee.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeleteClick()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid >
  
  <ion-row>
    <ion-col>
      <h1>{{loadedEmployee.name}}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h1>{{loadedEmployee.adress}}</h1>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
